<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appvillis.nicegram">
    <application>
        <activity android:name=".presentation.NicegramPremiumActivity"
            android:exported="false"
            android:theme="@style/Theme.eSIM"
            android:screenOrientation="portrait"/>

        <activity android:name=".presentation.NicegramOnboardingActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.eSIM"
            android:screenOrientation="portrait"/>
    </application>
</manifest>
